/* 1. БАЗА */
* {
  box-sizing: border-box;
  margin: 2;
  padding: 10;
}

/* 2. СТРАНИЦА */
body {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: #a19b9b;
}

/* 3. ТЕСТОВЫЕ БЛОКИ */
.box {
  width: 300px;
  padding: 10px;
  border: 5px solid black;
  margin: 20px;
  background: rgb(196, 4, 4);
}

.fefe {
  width: 50%;
  padding: 50px;
  background: rgb(174, 0, 255);
}
.full-width {
  width: 100;
  padding: 100px;
  background-color: aqua;
}
.training {
  max-width: 50;
  padding: 2px;
  background-color: black;
  color: white;
  text-align: center;
}
  
.mondrian {
  width: 600px;
  height: 600px;
  border: 10px solid black;
  margin: 50px auto;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold; }
    .p {
      margin: auto;
    }

    h1, h2 {
    margin-top: 30px;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
}
form {
    max-width: 500px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
.gallery-item {
    display: inline-block;
    width: 32%;
    margin-bottom: 20px;
    vertical-align: top;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}